.outer_container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: calc(var(--margin-small) / 2);
  flex-direction: column;
}

.text_field_container {
  width: 100%;
  position: relative;
  display: flex;
  gap: calc(var(--default-margin) / 2);
  flex-direction: column;
}

.indicator_container {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  pointer-events: none;
  margin-right: var(--margin-small);
}

.error {
  border-color: var(--error) !important;
}

.container {
  transition: 0.3s ease-in-out;

  width: calc(100% - 2 * var(--padding-small));
  outline: none;
  border-color: var(--divider-color);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--round-box);
  background-color: transparent;
  font-family: var(--default-font);
  font-weight: 500;
  font-size: var(--text-size-small);
  color: var(--outline-text-color);
  padding: var(--padding-small);

  &:focus {
    transition: 0.3s ease-in-out;
    border-color: var(--divider-color-input-hover);
  }
}

.input_label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.error_text_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
