.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.extension {
  width: 357px;
  height: 600px;
}

.inner_page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 367px;
  width: 100%;
  height: 500px;
  position: relative;
}

@keyframes infiniteBg {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  100% {
    transform: translateY(-800px) translateX(800px);
  }
}
