.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.extension {
  width: 357px;
  height: 600px;
}

.bg_container {
  position: fixed;
  width: 1000%;
  height: 1000%;
  overflow: hidden;
  z-index: -200;
  background-image: url("/images/frogpattern.svg");

  background-size: 1600px;
  background-repeat: repeat;
  opacity: 0.05;
  animation: infiniteBg 20s linear infinite;
}

.gradient {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 400px;
  background: linear-gradient(180deg, var(--primary) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.3;
  top: 0;
}

.inner_page_container {
  max-width: 367px;
  width: 100%;
  position: relative;
}

@keyframes infiniteBg {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  100% {
    transform: translateY(-1600px) translateX(1600px);
  }
}
