.container {
  top: 0;
  left: 0;
  z-index: -100;
  pointer-events: none;
  position: fixed;
  width: 657px;
  height: 150px; /* Squished height */
  background: radial-gradient(circle, #7bff5c 0%, #7bff5c00 100%);
  filter: blur(60px); /* Adjust the blur as needed */
  border-radius: 50%; /* To make it circular */
  opacity: 0.15;
}
