:root {
  position: relative;

  --background-main: #0b0f12ff;

  --default-font: "Poppins", sans-serif;
  --logotype-font: "Poppins", sans-serif;
  --grafitti-font: "SedgwickAve";
  --divider-color: #333c43;
  --divider-color-input-hover: #7aff5c;
  --dim: #c2c2c2;
  --divider-color-dark: #f9f9f9;
  --divider-width: 1px;
  --default-margin: 20px;
  --default-padding: 20px;
  --padding-small: 14px;
  --margin-small: 14px;
  --margin-large: 30px;
  --round-full: 50px;
  --round-box: 10px;

  /* Mainly for buttons*/
  --primary: #7bff5c;
  --primaryHover: #76ec5b;
  --primaryActive: #68cf51;
  --secondary: #fff;
  --secondaryHover: #cacaca;
  --secondaryActive: #eee;
  --outline: transparent;
  --outlineHover: #ffffff05;
  --outlineActive: #ffffff07;
  --primary-text-color: #000;
  --secondary-text-color: #000;
  --outline-text-color: #ffffff;
  --disabled-background-color: #191e22;
  --disabled-text-color-light: #aaa;
  --disabled-text-color: #444;

  /* Indicator colors */
  --error: #ff2a2a;
  --warning: #ffdd55;
  --success: var(--primary);

  /* Text sizes */
  --text-size-small: 14px;
  --text-size-extra-small: 14px;
}

#root {
  height: 100vh;
  width: 100%;
  min-width: 357px;
  min-height: 600px;
}

body {
  color: #fff;
  font-family: "Poppins";
  font-weight: 300;
  background-color: var(--background-main);
  margin: 0;
  position: relative;
  height: 100vh;
  min-width: 357px;
  min-height: 600px;
}
