.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.grid_container {
  display: grid;

  gap: 8px; /* Optional: space between grid items */
  width: 100%;
}

.grid_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--default-font);
  font-weight: 400;
  font-size: var(--text-size-extra-small);
  color: var(--outline-text-color);
  padding: 8px;
  gap: var(--margin-small);
  border-radius: var(--round-box);
  border: 1px solid var(--divider-color);
  background-color: transparent;
}

.no_outline {
  border: none;
}

.grid_item_index {
  color: var(--primary);
}
